<!DOCTYPE html

<html>
    <head>
        <title>COVID-19</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            
            <p>COVID-19 Data By Country</p>

            <form>
                <input id="country-input" placeholder="Country">
                <input id="limit-input" type="number" min="0" placeholder="Top Countries To Show">
                <button>Search</button>
            </form>

            <p id="message"></p>

            <div class="container">
                <h2>Cases Worldwide</h2>
                <ul class="data-table">
                    <li class="table-header">
                        <div class="col col-1">Country</div>
                        <div class="col col-2">Total Cases</div>
                        <div class="col col-3">New Cases</div>
                        <div class="col col-4">Total Deaths</div>
                        <div class="col col-5">New Deaths</div>
                        <div class="col col-6">Critical</div>
                        <div class="col col-7">Recovered</div>
                        <div class="col col-8">Active Cases</div>
                    </li>
                </ul>
            </div>
        </div>

        {{>footer}}

        <script src="/js/fill-table.js"></script>
    </body>
</html>