<!DOCTYPE html>

<html>
    <head>
        <title>COVID-19</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">            
            <div id="header-wrapper">
                <form id="input-form">
                    {{>header}}
                
                    <p>COVID-19 Statistics</p>
                    <input class="input" id="country-input" placeholder="Country">
                    <p id="message"></p>
                </form>

                {{>globalData}}
            </div>

            <div class="container">
                <ul class="data-table">
                    <li class="table-header">
                        <div class="col col-1" id="col-1-header">Country</div>
                        <div class="col col-2" id="col-2-header">Total Cases</div>
                        <div class="col col-3" id="col-3-header">New Cases</div>
                        <div class="col col-4" id="col-4-header">Total Deaths</div>
                        <div class="col col-5" id="col-5-header">New Deaths</div>
                        <div class="col col-6" id="col-6-header">Critical</div>
                        <div class="col col-7" id="col-7-header">Recovered</div>
                        <div class="col col-8" id="col-8-header">Active Cases</div>
                    </li>
                </ul>
            </div>
        </div>

        {{>footer}}

        <script src="/js/fill-table.js"></script>
    </body>
</html>