<div id="global-data-wrapper">
    <form id="totals-data-div">
        <div class="top-data-title-div">
            <p class="top-data-title">Coronavirus Cases</p>
            <p class="top-data-value red" id="virus-cases-top"></p>
        </div>
        <div class="top-data-title-div">
            <p class="top-data-title">Deaths</p>
            <p class="top-data-value red" id="deaths-top"></p>
        </div>
        <div class="top-data-title-div">
            <p class="top-data-title">Recovered</p>
            <p class="top-data-value green" id="recovered-top"></p>
        </div>
    </form>

    <div class="top-data-update-time-title-div">
        <p class="top-data-title update-time">Last Update Time: </p>
        <p class="top-data-value update-time" id="update-time-top-value"></p>
    </div>
</div>