<header id="page-header">    
    <div class="header-link">
        <a href="/">Worldwide Statistics</a>
    </div>
    <div class="header-link">
        <a href="/history">History</a>
    </div>
</header>